<div class="register-form">
    <form action="/weapons/add" method="POST">
        <h1>add weapons</h1>
        <p>name</p>
        <input type="text" name="name">
        <p>image</p>
        <input type="text" name="image">
        <button type="submit">add</button>
    </form>
</div>
<div class="register-form">
    <form action="/weapons/update" method="POST">
        <h1>update weapon</h1>
        <p>name</p>
        <input type="text" name="name">
        <p>new name</p>
        <input type="text" name="newName">
        <p>new image</p>
        <input type="text" name="newImage">
        <button type="submit">update</button>
    </form>   
</div>
<div class="register-form">
    <form action="/weapons/delete" method="POST">
        <h1>delete weapon</h1>
        <p>name</p>
        <input type="text" name="name">
        <button type="submit">delete</button>
    </form>
</div>