<div>
    <h1 class="titulo">Armas Para Todos</h1>
    <div class="informacion">
        <img src="https://media.istockphoto.com/vectors/gun-sign-icon-firearms-weapon-symbol-vector-id613667100" alt="icono" id="icono">
        <p>Somos una organizacion que nos dedicamos a vender armas a enfermos de mierda, a los que les damos el mejor servicio.</p>
        <p>disfruta de disparar nuestra gran seleccion de armas</p>
        <img src="https://static.dw.com/image/17321132_401.jpg" alt="ak47" id="ak47">
    </div>
</div>