<div>
    <h1 class="titulo">Armas Para Todos</h1>
    <div class="informacion">
        <img src="https://media.istockphoto.com/vectors/gun-sign-icon-firearms-weapon-symbol-vector-id613667100" alt="icono" id="icono">
        <p>Somos una organizacion que nos dedicamos a vender armas a enfermos de mierda, a los que les damos el mejor
            servicio</p>
        <p>disfruta de disparar nuestra gran seleccion de armas</p>
        <div id="slider">
            <figure>
                <img src="https://d34zlyc2cp9zm7.cloudfront.net/products/7abf701aa75f93e1950c55f04bdd89459752e404832cad64c4a07c512cd27f9c.jpg_500" alt="">
                <img src="https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/xagi8oicdqjf5lszryqr.jpg" alt="">
                <img src="https://pbs.twimg.com/media/EwjPaSnWgAMutsj.jpg" alt="">
                <img src="https://static.dw.com/image/17321132_401.jpg" alt="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Uzi_of_the_israeli_armed_forces.jpg" alt="">
            </figure>
        </div>
    </div> 
</div>