<div class="register-form">
    <h1>Registration Form</h1>
    <form action="/users/register" method="POST">
        <p>Full name:</p>
        <input type="text" name="fullname" placeholder="Full name">
        <p>User name:</p>
        <input type="text" name="username" placeholder="User name">
        <p>Email:</p>
        <input type="email" name="email" placeholder="Email">
        <p>Password:</p>
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Registration</button>
    </form>
</div>