<div class="container">
    {{#each data}}
    <div class='card'>
        <figure>
            <img src="{{image}}" alt="">
        </figure>
        <div class="content">
            <h3>{{name}}</h3>
            <a href="#">add</a>
        </div>
    </div>
    {{/each}}
</div>